// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@font-face{
  font-family: 'HPFont';
  src: url('../fonts/ParryHotter.ttf');
}

@mixin comments(){
  position: absolute;
  right: 0;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  background: orange;
  bottom: 150px;
  border: 1px solid orange;
  font-family: 'HPFont';
  font-size: 20px;
  text-align: center;
}

@mixin suppliesLeft(){
  position: absolute;
  color: orange;
  font-family: 'HPFont';
  font-size: 25px;
  word-spacing: 6px;
}

@mixin buttonDesign(){
  padding: 10px;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  color: orange;
  border: 1px solid $buttonGradientBottom;
  border-radius: 5px;
  background: -webkit-linear-gradient($buttonGradientBottom, $buttonGradientTop);
  background: -o-linear-gradient($buttonGradientBottom, $buttonGradientTop);
  background: linear-gradient($buttonGradientBottom, $buttonGradientTop);
  box-shadow:2px 2px 2px #888888;
}

$buttonGradientTop: #002966;
$buttonGradientBottom: #e6f0ff;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// img {
//   max-width: 100%;
// }


.openingScreen{
  background: url('http://i764.photobucket.com/albums/xx286/lightsatnight/harry-potter-14.jpg') no-repeat center center fixed;    background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: none;
}

h1{
  color: orange;
  text-align: center;
  font-family: 'HPFont';
  line-height: 5em;
  padding-bottom: 30px;
  // #HP{
  // font-family: 'Orbitron', sans-serif;
  // }
}

html{
  height: 100%;
  body{
    background: url('http://i764.photobucket.com/albums/xx286/lightsatnight/harry-potter-14.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}


.selectionScreen
    {
  background-image: url('http://media.harrypotter.bloomsbury.com/rep/g/page-background-shell%20-%202.png');
  height: 100%;
  background-size: 100% 100%;
}

.good-guys-list {
  width: 80%;
  margin: 0 auto;

  li {
    width: 19%;
    margin: 3px 0;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .good-guy-name {
    text-align: center;
    font-family: 'HPFont';
    color: orange;
  }

  .good-guy-description {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
  }
}

.good-guys-list li:hover {
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

#select-button{
  @include buttonDesign();
  // margin-left: 520px;
  margin-top: 15px;
  display: block;
  // margin-left: 550px;
}
#start-game,
#choose-another-player{
  @include buttonDesign();
  display: block;
  margin-top: 15px;
}

#select-button{
  margin-left: 530px;
}
#choose-another-player{
  margin-left: 430px;
}
#start-game{
  margin-left: 537px;
}

.fightScreen {
background-image: url('http://media.harrypotter.bloomsbury.com/rep/g/page-background-shell%20-%202.png');
height: 100%;
background-size: 100% 100%;
}

#attack{
  @include buttonDesign();
  margin-left: 40px;
  margin-top: 50px;
}
#strong-attack{
  @include buttonDesign();
}
#increase-health{
  @include buttonDesign();
}

.js-goodGuysArray {
  height: 385px;
}

.healthBarContainer {
  min-width: 150px;
  border: 1px solid orange;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 25px;
  display:inline-block;
}

.healthBar {
  background-color: orange;
  width: 100%;
  height: 100%;
}

.strongAttacksLeftG,
.strongAttacksLeftGPhantom {
  @include suppliesLeft();
  display:inline-block;
  top:25px;
  margin-left:16px;
}

.potionsLeftG,
.potionsLeftGPhantom {
  @include suppliesLeft();
  margin-left: 165px;
  top: 65px;
}

.strongAttacksLeftB,
.strongAttacksLeftBPhantom {
  @include suppliesLeft();
  margin-left: 180px;
  top: 30px;
}

.potionsLeftB,
.potionsLeftBPhantom {
  @include suppliesLeft();
  margin-left: 180px;
  top: 68px;
}

.js-good-guy{
  display: block;
  margin-top: 250px;
  margin-left: 245px;
}

.js-bad-guy {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
}

.minorComment,
.potionComment,
.strongComment {
  @include comments();
}
.minorComment::before,
.potionComment::before,
.strongComment::before {
  content: "";
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: orange;
  left: -21;
  bottom: 20;
}

.replay-game {
  @include buttonDesign();
  margin-top: 200px;
  margin-left: 500px;
}
