<div class="healthBarContainer">
  <div id="badGuysHealthBar" class="healthBar"></div>
</div>

<div class="potionsLeftB">
   Increase Health: 1
</div>
<div class="potionsLeftBPhantom">
</div>


<div class="strongAttacksLeftB">
    Strong Attacks: 1
</div>
<div class="strongAttacksLeftBPhantom">
</div>

<img class="js-bad-guy" src="{{imageURL}}" alt="{{name}}" data-badGuysArray-name="{{name}}">
