<div class="healthBarContainer">
  <div id="goodGuysHealthBar" class="healthBar">
  </div>
</div>


<div class="potionsLeftG">
   Increase Health: 1
</div>
<div class="potionsLeftGPhantom">
</div>


<div class="strongAttacksLeftG">
    Strong Attacks: 1
</div>
<div class="strongAttacksLeftGPhantom">
</div>


<img class="js-good-guy" src="{{imageURL}}" alt="{{name}}" data-goodGuysArray-name="{{name}}">

<div class="minorComment" style='display:none'>
</div>

<div class="strongComment" style="display:none">
</div>

<div class="potionComment" style="display:none">
</div>
