<!-- {{#each opening-screen}}

{{/each}} -->


 {{#each selection-screen}}
<div class="col-md-12">
  <h1>Choose a Character</h1>
 <ul class="good-guys-list">
  <li class="good-guy" data-name="Harry">Harry</li>
    <li class="good-guy" data-name="Hermione">Hermione</li>
    <li class="good-guy" data-name="Hagrid">Hagrid</li>
    <li class="good-guy" data-name="Professor Lupin">Lupin</li>
    <li class="good-guy" data-name="Professor Dumbledore">Dumbledore</li>
   </ul>

  <button id="select-button">Select</button>
  <button id="start-game" class="start-buttons" style="display:none">Start</button>
 <button id="choose-another-player" class="start-buttons" style="display:none">Choose a different player</button>
</div>
{{/each}}



{{#each fight-screen}}

<div class="col-md-6">
  <img src="" alt="">
  <button type="button" id="attack">Attack</button>
  <button type="button" id="strong-attack" class="strong-attack-button">Strong Attack</button>
  <button type="button" id="increase-health" class="potion-button">Increase Health</button>
</div>

<div class="col-md-6">
  <img src="" alt="" />
</div> -->

{{/each}}
